// ---------------------------------------------------------------------------
// Imports

@import "susy";

// ---------------------------------------------------------------------------
// Basic Grid

$total-columns  : 6;             // Default number of columns (mobile)
$column-width   : 5em;           // Width of each column
$gutter-width   : 1em;           // Space between columns
$grid-padding   : $gutter-width;

$show-grid-backgrounds  : true;

$phone-columns  : $total-columns; // *DTA get rid of total columns and use this instead?
$tablet-columns : 10;
$tablet         : 550px $tablet-columns;
$computer       : $tablet-columns;