@import "base";
@import "compass/reset.scss";
@import "compass/layout.scss";

@include sticky-footer(200px, "#page", "#page-footer", "#footer-bar");

$vertical-padding : 5px;

html,body {
  @include border-box-sizing;
  font-family: arial;
  font-size:12pt;
}

/*
 * ============================================================================
 *  Grid
 * ----------------------------------------------------------------------------
 */
.container {
  @include container($total-columns, $tablet, $computer);
  /* Show grid */
  @include susy-grid-background;
  @include at-breakpoint($tablet){
    @include susy-grid-background;
  }
  @include at-breakpoint($computer){
    @include susy-grid-background;
  }
}

/*
 * ============================================================================
 *  Full width bars
 * ----------------------------------------------------------------------------
 */
#header-bar {
  background-color:#aacccc;
}
#header-bar a {
  text-decoration: none;
  font-weight: bold;
}
#quick-bar {
  background-color: #ccccaa;
  padding: $vertical-padding 0;
}
#product-search-bar {
  background-color: #aaccaa;
  padding: $vertical-padding 0;
}
#content-bar {
  padding: $vertical-padding 0;
}
#footer-bar {
  background-color: #ccaacc;
  padding: $vertical-padding 0;
}

/*
 * ============================================================================
 *  Break point notifications
 * ----------------------------------------------------------------------------
 */
#mobile{ display: block; }
#tablet{ display: none; }
#computer{ display: none; }

@include at-breakpoint($tablet){
  #mobile{ display:none; }
  #tablet{ display:block; }
}

@include at-breakpoint($computer){
  #tablet{ display:none; }
  #computer{ display:block; }
}




/*
 * ============================================================================
 *  Primary navigation
 * ----------------------------------------------------------------------------
 */
.img-pfc-logo{
  height: 40px;
  margin-top: auto;
  vertical-align: middle;
  display: inline-block;
}
.nav-main,
.nav-main-pets,
.nav-account {
  @include span-columns($phone-columns, $phone-columns);
  background-color: #cccccc;
}
.nav-main      a,
.nav-main-pets a,
.nav-account   a {
  display: block;
  background-color: #ccacbb;
  padding: 6px;
  margin:2px;
}
.nav-main a.a-pfc-logo {
  display: inline-block;
}
.nav-main-pets a:first-child,
.nav-account  a:first-child {
  margin-top: 0;
}
.nav-main-toggler {
  display: block;
  float: right;
  padding:5px;
  background-color:#bbbbbb;
}
#quick-bar{
  display:none;
}

@include at-breakpoint($tablet) {
  $navHeaderHeight : 62px;
  .nav-main,
  .nav-account {
    height:$navHeaderHeight;
  }
  .nav-main { 
    @include span-columns(7, $tablet-columns);
  }
  .nav-main-pets {
    display:none;
  }
  .nav-account { 
    @include span-columns(3 omega, $tablet-columns);
    text-align:right;
  }
  .nav-main a,
  .nav-account a{
    display: inline-block;
    line-height: $navHeaderHeight;
    padding: 0 10px 0 10px;
    margin: 0;
  }
  .nav-main-toggler{
    display:none;
  }
  #quick-bar{
    display:block;
  }
}

/*
 * ============================================================================
 *  Footer bar
 * ----------------------------------------------------------------------------
 */
.footer-bar-left {
  @include span-columns(6, $phone-columns);
  background-color: #ddeedd;
}
.footer-bar-right {
  @include span-columns(6, $phone-columns);
  background-color: #eeffdd;
}

@include at-breakpoint($tablet) {
  .footer-bar-left {
    @include span-columns(6, $tablet-columns);
  }
  .footer-bar-right {
    @include span-columns(4 omega, $tablet-columns);
  }
}